body
{
	font-family: 'Arimo', sans-serif;
}

#wrapper
{
	display: block;
	overflow: hidden;
}

#nav
{
	width: 125px;
	float: left;
	text-align: right;
	overflow: hidden;
	margin-top: 10px;
}

#nav > ul > li
{
	list-style-type: none;
	padding-left: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	padding-right: 20px;
	padding-left: 5px;
}

#nav > ul
{
	list-style-type: none;
	padding-left: 0;
	float: right;
}

#nav > ul > li:nth-child(1)
{

}

#content
{
	margin-left: 175px;
	float: center;
}

.scrollable
{
	overflow: auto;
}