body
{
	font-family: 'Open Sans', sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 0 0 0;
	background-color: #1a1a1a;
	color: white;
}

header
{
	padding-left: 25px;
	padding-top: 25px;
}

#wrapper
{
	display: block;
	overflow: hidden;
}

#nav
{
	width: 210px;
	position: fixed;
	text-align: left;
	overflow: hidden;
	margin-top: 10px;
	margin-left: -40px;
	height: 90%;
	left: 0;
	/*border-right: 1px #151515 solid;*/
}

#nav > ul > li
{
	list-style-type: none;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	border-left: 5px solid transparent;
}

#nav > ul
{
	list-style-type: none;
	width: 100%;
}

#nav > ul > li:hover
{
	border-left: 5px solid #f26322;
	background-color: #232323;
	cursor: pointer;
}

.active
{
	border-left: 5px solid #f26322;
	background-color: #252525;
}

#content
{
	margin-left: 210px;
	padding-right: 10px;
	position: absolute;
}

.scrollable
{
	overflow: auto;
}