{% extends "base.html" %}
{% block content %}
      <div id="content">
        <div class="scrollable">
	  {% if category %}
          <h1>Category: <em>{{ category.capitalize() }}</em></h1>
          {% if queue %}
	  <div>
          {% for vid in queue %}
          <div class="cont">
            <div class="title">
	            <b>{{ vid.name }}</b>
            </div>
            <div class="detail">
	          <ul>
          		<li><b>Size:</b>  {{ vid.size }} MB</li>
          		<li><b>Votes:</b> {{ vid.votes }}</li>
          		<li><b>Time:</b> {{ vid.time }} minutes</li>
          		<li><b>Contribution per Voter:</b> {{ vid.contribution }} MB</li>
	          </ul>
	          </div>
         </div>
            {% endfor %}
          </div>
          {% endif %}
	  {% else %}
	  <h1>Choose a category in the Navigation Bar!</h1>
	  {% endif %}
        </div>
      </div>
{% endblock content %}
