{% extends "base.html" %}
{% block content %}
      <div id="content">
        <div class="scrollable">
	  {% if category %}
          <h1>Category: <em>{{ category.capitalize() }}</em></h1>
          {% if queue %}
	     <div>
          <div class="row">
          {% for vid in queue %}
          <script type="text/javascript">
            var toggle = false;
            var names = [];
            var num_votes = [];
            var num_sizes = [];
            var contributions = [];
            {% for elt in queue %}
              names.push({{ elt.name }});
              num_votes.push({{ elt.votes }});
              num_sizes.push({{ elt.size }});
              contributions.push({{ elt.contribution }});
            {% endfor %}
            for(i = 0; i < num_votes.length; i++)
            {
              document.getElementsByClassName("vote-toggler")[i].innerHTML = num_votes[i];
              document.getElementsByClassName("contr-toggler")[i].innerHTML = contributions[i];
            }
            
            function vote(index){
              if(!toggle){
                document.getElementsByClassName("vote-toggler")[index].innerHTML = ++num_votes[index];
                document.getElementsByClassName("contr-toggler")[index].innerHTML = num_sizes[index]/num_votes[index];
              }
              toggle = true;
            }
          </script>
          <div class="col-md-4">
            <div class="title">
	            <b>{{ vid.name }}</b>
            </div>
            <div class="detail">

            Bandwidth Efficiency:
            <div class="size-votes animated zoomIn">
              <div class="size" style="width:{{ (vid.votes)*100/((vid.size)+vid.votes) }}%"></div>
            </div>
            <ul style="margin-top: 10px; margin-bottom: -5px">
              <li><b>File Size:</b> {{ vid.size }} GB</li>
              <li><b>Votes:</b> <span class="vote-toggler"></span></li>
            </ul>
            <div class="big-num row">
              <div class="timeLeft col-md-6"><span class="contr-toggler"></span><br/><span>GB/vote of Data Contribution</span></div>
              <div class="timeLeft col-md-6"><span>{{ vid.time }}</span><br/><span>Minutes to Download</span></div>
            </div>
        
            <div class="vote" onclick="vote({{ loop.index }}-1)">
              <span class="glyphicon glyphicon-thumbs-up"></span> <span>Click to Vote!</span>
            </div>
	       </div>
        </div>
         <!-- <div class="queue"></div> -->
            {% endfor %}
          <script type="text/javascript">
            var toggle = false;
            var num_votes = [];
            var num_sizes = [];
            var contributions = [];
            {% for elt in queue %}
              num_votes.push({{ elt.votes }});
              num_sizes.push({{ elt.size }});
              contributions.push({{ elt.contribution }});
            {% endfor %}
            for(i = 0; i < num_votes.length; i++)
            {
              document.getElementsByClassName("vote-toggler")[i].innerHTML = num_votes[i];
              document.getElementsByClassName("contr-toggler")[i].innerHTML = contributions[i];
            }
            
            function vote(index){

              if(!toggle){
                document.getElementsByClassName("vote-toggler")[index].innerHTML = ++num_votes[index];
                document.getElementsByClassName("contr-toggler")[index].innerHTML = Math.round((num_sizes[index]/num_votes[index])*100)/100;
                document.getElementsByClassName("vote")[index].style.color = "#3498db";
                document.getElementsByClassName("vote")[index].style.borderColor = "#3498db";
              }
              toggle = true;
              if(num_votes[index] >= 50)
              {
                window.location.assign("download")
              };
            }
          </script>
            </div>
          </div>
          {% endif %}
    {% elif value %}
      <div class="download container">
      <h3>Downloading: <b>Exede vs. Predator</b></h3>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 3%">
          <span class="sr-only">45% Complete</span>
        </div>
      </div>
    </div>
      {% else %}
      <h1 style="color:orange">Welcome to Group Downloads!</h1>
	  <h4>Exede Pingbot is a service dedicated to allowing you, the customer, the most efficient usage of your data plan.  We provide this central hub for you to vote on videos, and download as a team with other voters.</h4>
	  <h4>If you like this service, don't forget to share us VLife, Facebook, or your favorite Social Networking site.</h4>
	  <br /><br />
	  <h3 style="color:orange">Choose a category in the sidebar to get started!</h3>
      {% endif %}
        </div>
      </div>
{% endblock content %}
